In [2]:
import pandas as pd
import requests

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [4]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [6]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,125.753,8.7,18109
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,97.318,8.7,23982
2,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,2096.335,8.7,1557
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,73.186,8.6,10933
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,53.706,8.6,14184

In [ ]:
df = pd.DataFrame()
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)
    # df = df.concat([df,temp_df],ignore_index=True)

In [20]:
df

Empty DataFrame
Columns: []
Index: []

In [21]:
df.shape

(0, 0)

In [22]:
df.to_csv('movies.csv')